.container {
    width: 1200px;
    margin: 0 auto;
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}
.logo {
    color: #22202E;
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 400;
}
.nav-list {
    display: flex;
    gap: 44px;
}
.link {
    text-decoration: none;
    color: black;
}
.nav-list-item {
    list-style: none;
    color: #726E8D;
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 400;
}
.nav-icons {
    display: flex;
    gap: 16px;
}
.bg-icon {
    width: 16px;
    height: 16px;
    background-image: url(../img/search.svg);
}
.bg-icon1 {
    width: 16px;
    height: 16px;
    background-image: url(../img/shopping--cart.svg);
}
.bg-icon2 {
    width: 16px;
    height: 16px;
    background-image: url(../img/user--avatar.svg);
}

.view {
    color: #2A254B;
    font-size: 36px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 50.40px;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 24px;
}
.menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filter-menu{
display: flex;
}
.filter-menu-item {
    padding: 12px 24px;
}
.filter-select {
    border: none;
    color: #2A254B;
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 400;
    line-height: 24px;
}
.sorting-list {
    display: flex;
    align-items: center;
    gap: 16px;
}
.sorting-list-item {
    color: #2A254B;
    font-size: 14px;
    font-family: Open Sans;
    font-weight: 400;
    line-height: 21px;
}
.filter-select.date {
    border: none;
    color: #2A254B;
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 400;
    line-height: 24px;
    padding: 12px 24px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 28px;
    column-gap: 20px;
}
.product-name {
    color: #2A254B;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 28px;
    padding-top: 24px;
}
.product-price {
    color: #2A254B;
    font-size: 18px;
    font-family: Open Sans;
    font-weight: 400;
    line-height: 27px;
    padding-bottom: 48px;
}
.button {
    display: flex;
    justify-content: center;
}
.view-collection {
    padding: 16px 32px;
    background-color: #f9f9f9;
    border: none;
}
.join-club {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    margin-top: 40px;
}
.left-photo {
    width: 720px;
    height: 521px;
    background-image: url(../img/join-background.jpg);
}
.join-club-content {
    padding-left: 50px;
    padding-top: 70px;
}
.join-club-heading {
    color: #2A254B;
    font-size: 32px;
    font-family: Montserrat;
    font-weight: 400;
    padding-bottom: 20px;

}
.join-club-text {
    color: #2A254B;
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 216px;
    width: 470px;
}
.join-club-button {
    padding: 16px 32px;
    margin-left: 22px;
    color: white;
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 400;
    line-height: 24px;
    background-color: #2A254B;
}
footer {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    background-color: #2A254B;
    justify-content: center;
}
.footer-menu{
    display: flex;
    justify-content: space-between;
    padding-top: 58px;
    margin-bottom: 48px;
}
.menu-item1, .categories-item1, .our-company-item1 {
    color: white;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 400;
}
.menu-item, .categories-item, .our-company-item {
    color: white;
    font-size: 14px;
    font-family: Open Sans;
    font-weight: 400;
}
/* Добавив всі властивості на текст, але всеодно чомусь не такий як у макеті, не знаю чому так */
.menu-list1,
.category-list1,
.company-list1,
.menu-list,
.category-list,
.company-list {
    padding-bottom: 12px;
}

.under {
    border-top: 2px solid #4E4D93;
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
}
.copyright {
    color: white;
    font-size: 14px;
    font-family: Open Sans;
    font-weight: 400;
}
.footer-icons {
    display: flex;
    gap: 24px;
}
.footer-item1 {
    width: 18px;
    height: 18px;
background-image: url(../img/logo--linkedin.svg);
}
.footer-item2 {
width: 18px;
height: 18px;
background-image: url(../img/logo--facebook.svg);
}
.footer-item3 {
    width: 18px;
    height: 18px;
background-image: url(../img/logo--instagram.svg);
}
.footer-item4 {
    width: 20px;
    height: 20px;
background-image: url(../img/logo--skype.svg);
}
.footer-item5 {
    width: 18px;
    height: 14px;
background-image: url(../img/logo--twitter.svg);
}
.footer-item6 {
    width: 22px;
    height: 22px;
background-image: url(../img/logo--pinterest.svg);
}